.avatar {
  position:absolute;
  width:80px;
}

.personImage {
  position:absolute;
  top:7px;
  left:4px;
}

.avatarCurves {
  position:absolute;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
}

.avatarNameLabel {
  position:absolute;
  top:0px;
  left:-90px;
  width:100px;
  font-size:0.7em;
  margin:0px;
  padding:0px;
  background:white;
}