.avatar {
  position:absolute;
  width:80px;
}

.beacon {
  position:absolute;
  top:30px;
  left:20px;
}

.personImage {
  position:absolute;
  top:5px;
  left:3px;
}

.avatarCurves {
  position:absolute;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
}

.avatarNameLabel {
  position:absolute;
  top:0px;
  left:-90px;
  width:100px;
  font-size:0.7em;
  margin:0px;
  padding:0px;
  background:white;
}

circle {
  stroke: orange; 
  stroke-width: 2px;
  stroke-opacity: 1;
}

.pulse {
    fill: white;
    fill-opacity: 0;
    transform-origin: 50% 50%;
    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    from {
      stroke-width: 8px;
      stroke-opacity: 1;
      transform: scale(0.3);
    }
    to {
      stroke-width: 0;
      stroke-opacity: 0;
      transform: scale(2);
    }
  }