
.moodICon {
    position:absolute;
    top:35px;
    left:32px;
    z-index: 9999;
  }
  
  .beacon {
    position:absolute;
    top:30px;
    left:20px;
  }
  
  circle {
    stroke: beige; 
    stroke-width: 1px;
    stroke-opacity: 1;
  }
  
  .pulse {
      fill: white;
      fill-opacity: 0;
      transform-origin: 50% 50%;
      animation-duration: 2s;
      animation-name: pulse;
      animation-iteration-count: infinite;
    }
    
    @keyframes pulse {
      from {
        stroke-width: 8px;
        stroke-opacity: 1;
        transform: scale(0.3);
      }
      to {
        stroke-width: 0;
        stroke-opacity: 0;
        transform: scale(2);
      }
    }